/* CSS Document */
/*µÇÂ¼Ò³Ãæ*/
/*ÎÄ×Ö*/
.size01{font-size:14px;}
.size02{font-size:13px;}
.txt00{color:#71498f; font-weight:bolder; font-family:Arial, Helvetica, sans-serif; font-size:16px;}
.txt01{color:#a249a5;font-weight:bolder;overflow:hidden;}
.txt02{color:#666;}
.txt03{color:#643699;font-weight:bold;}
.txt04{float:left;font-size:12px;color:#71488E;display:inline;}
.txt05{color:#993399;}
.txt06{color:#bb5abc;}
.txt07{color:#9933cc;}
.txt07:hover{ text-decoration:underline;}
.txt08{color:#9933cc;}
.txt09{color:#c660c7; font-size:14px; font-weight:bolder; cursor:pointer; }
.box{ width:959px; margin:0 auto;}
.box .head{ height:68px; padding-top:34px;padding-left:4px; overflow:hidden;}
.conback{ background:url(../images/left_index.gif) no-repeat; width:463px; height:373px;}
.conback .UFO{ margin-top:337px; margin-left:35px;}
.conback .UFO a:hover{ text-decoration:underline;}

/*µÇÂ¼Çø*/
.input_out3{
	font-family:Arial, Helvetica, sans-serif;border:1px solid #7f9db9;font-size:18px;font-weight:700;height:20px;line-height:20px;padding:0 2px 0 0;
}
.conback2{ background:url(../images/denglu_right.gif) no-repeat; width:496px;height:373px;}
.login .title{ padding-left:13px; padding-top:30px; height:41px;}

/*µ×²¿µ¼º½*/
.menu{width:960px;height:84px;margin:8px auto 0 auto; clear:both;}
.menu .title{ float:left; padding-top:3px; width:176px;}
.menu #nav{ float:left; height:85px;text-align:left;display:block;}
.menu #nav .item{margin-left:12px; background:url(../images/p_bg.jpg) right top no-repeat;float:left; list-style:none;}
.menu #nav .item ul{margin:0;padding-top:13px;list-style:none;width:170px;text-align:left; margin-left:30px; }
.menu #nav .item ul li{line-height:20px; color:#939;list-style:none;}
.menu #nav .item ul li a{  color:#939;text-decoration:none}
.menu #nav .item ul li a:hover{ text-decoration: underline}
.menu #nav .item ul li img{ vertical-align: bottom;}


/*µÇÂ¼Ò³Ãæ2*/
.loginback{background:url(../images/bg_01.gif) repeat-x top;}
.loginhead{height:68px;padding-left:6px; overflow:hidden; margin-bottom:10px; }
.enter_bg a{ background:url(../images/enter_bg1.gif) no-repeat; width:308px; height:280px; display:block; color:#66656a; cursor:none;}
.enter_bg a:hover{background:url(../images/enter_bg.jpg) no-repeat; width:308px; height:280px; display:block; text-decoration:none;}
.enter_bg2 a{background:url(../images/enter_bg2.gif) no-repeat; width:308px; height:280px; display:block; color:#66656a; cursor:none;}
.enter_bg2 a:hover{background:url(../images/enter_bg2.gif) no-repeat; width:308px; height:280px; display:block; color:#66656a; cursor:none; text-decoration:none;}
.register_bg a{ background:url(../images/ljzc01.gif) no-repeat; width:308px; height:280px; display:block; color:#66656a; cursor:none;}
.register_bg a:hover{background:url(../images/ljzc.jpg) no-repeat; width:308px; height:280px; display:block; text-decoration:none;}
.lingpai a{ background:url(../images/lingpai.gif) no-repeat; width:308px; height:280px; display:block; color:#66656a; cursor:none;}
.lingpai a:hover{background:url(../images/lingpai.jpg) no-repeat; width:308px; height:280px; display:block; text-decoration:none;}
.mima a{ background:url(../images/mima.gif) no-repeat; width:308px; height:280px; display:block;color:#66656a;cursor:none;}
.mima a:hover{background:url(../images/mima.jpg) no-repeat; width:308px; height:280px; display:block; text-decoration:none;}
.lingpai2 a{ background:url(../images/lingpai2.gif) no-repeat; width:308px; height:280px; display:block; color:#66656a; cursor:none;}
.lingpai2 a:hover{background:url(../images/lingpai2.jpg) no-repeat; width:308px; height:280px; display:block; text-decoration:none;}
.mima2 a{ background:url(../images/mima2.gif) no-repeat center; width:308px; height:280px; display:block;color:#66656a;cursor:none;}
.mima2 a:hover{background:url(../images/mima2.jpg) no-repeat center; width:308px; height:280px; display:block; text-decoration:none;}
.key a{ background:url(../images/lingpai301.gif) no-repeat; width:308px; height:280px; display:block;color:#66656a;cursor:none;}
.key a:hover{background:url(../images/lingpai301.jpg) no-repeat;width:308px; height:280px; display:block; text-decoration:none;}
.pub{ background:url(../images/title_bg.jpg) no-repeat bottom; width:303px; height:22px; color:#8d37a2; font-weight:bolder;}
.zhuanye{ background:url(../images/title_bg02.jpg) no-repeat bottom;  height:22px; color:#8d37a2; font-weight:bolder;}
.dic{ display:block; width:244px; padding-left:5px;  }
.dic li{list-style:none; line-height:18px; display:block; clear:both;}
.dian1{ background:url(../images/disc.gif) no-repeat left center; width:10px; height:18px; }

.jyts{ background:url(../images/ts_back.jpg) repeat-x bottom;  padding:6px 0px;}
.jyts span{ line-height:22px;}
/*µÇÂ¼login_openÒ³Ãæ*/
.valiback{ background:url(../images/dongtai.jpg) no-repeat; width:955px; height:330px;} 
.valiback3{ background:url(../images/xinxitong.jpg) no-repeat; width:955px; height:330px;}
.valiback2{ background:url(../images/lpb02.jpg) no-repeat; width:955px; height:330px;} 
.btn_r{ background:url(../images/btn01.gif) no-repeat; width:106px;  line-height:31px; display:block; font-family:"Î¢ÈíÑÅºÚ"; font-size:16px;color:#fff; text-align:center; text-decoration:none; cursor:pointer; }
.l_b_back{ background:url(../images/lpb03.jpg) no-repeat; width:551px; height:330px;}

/*±¨´íÐÅÏ¢*/
.errbox{ border:solid #FF0000 1px; color:#FF0000; background-color:#ffe3e3; line-height:20px; text-align:left; margin:0 5px; padding-left:5px;}

/*¿çÐÐ»¥ÁªµÇÂ¼Ò³*/
.conback2_khhl{ background:url(../images/login_khhl_01.jpg) no-repeat; width:496px;height:373px;}
.conback_khhl{ background:url(../images/login_khhl_02.jpg) no-repeat; width:463px; height:373px;}
.conback3_khhl{ background:url(../images/login_khhl_03.jpg) no-repeat; width:346px; height:373px; color:#3c3c3c; }
.khhl_x{ border-bottom:1px dotted #bee0d0;}